**/__pycache__/
*.egg-info
*.cache
*.coverage
*.hypothesis
*.tox
coverage/*
build*
dist*
install_log.txt
**/*.so
docs/_build
TODO
.pytest_cache
Makefile
.venv
**/.doctrees
**/.mypy_cache
**/.dmypy.json
**/*.rstsrc
