graft c-extension

graft icons

include AUTHORS
include LICENSE

prune docs
include docs/description.rst

include misc/Makefile
include misc/vimiv.1
include misc/vimiv.desktop
include misc/vimiv.appdata.xml
graft misc/requirements

include fastentrypoints.py
