/* Underline headers with differently sized blue lines */
h1 {
    border-bottom: solid 4px #1F7DE6;
}

h2 {
    border-bottom: solid 2px #1F7DE6;
}

h3, h4, h5, h6 {
    border-bottom: solid 1px #1F7DE6;
}

/* Add a margin around images */
img {
    margin: 8px;
}

/* But not in the navbar on the top */
.navbar img {
    margin: 0px;
    margin-right: 4px;
}

/* Change navbar color to blue */
.navbar {
    background: #1861B3;
    color: #FFFFFF;
    border-bottom: solid 4px #1F7DE6;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #1F7DE6;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #1F7DE6;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1F7DE6;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1F7DE6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #1F7DE6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #1F7DE6;
  }
}

/* Change info box color from purple to dark blue */
.alert-info {
    background-color: #1861B3;
    color: #FFFFFF;
}

.alert-info a {
    color: #999999;
}

.alert-info a:hover {
    color: #BBBBBB;
    text-decoration: underline;
}
