html[data-theme="light"] {
    --pst-color-primary: #3F8DB4;
    --pst-color-info: #3F8DB4;

    --pst-color-secondary: #7AACBC;
    --pst-color-link-hover: #7AACBC;

    --pst-color-warning: #c79537;
    --pst-color-success: #4aa56f;
    --pst-color-attention: #f44336;
    --pst-color-danger: #f44336;

    --pst-color-background: rgb(244, 243, 245);
    --pst-color-on-background: rgb(244, 243, 245);
    --pst-color-surface: rgb(234, 233, 235);
    --pst-color-on-surface: rgb(214, 213, 215);

    --pst-color-text-base: #1F1D21;
}

html[data-theme="dark"] {
    --pst-color-secondary: #9FE2F6;
    --pst-color-link-hover: #9FE2F6;

    --pst-color-primary: #89C3D4;
    --pst-color-info: #89C3D4;

    --pst-color-warning: #c79537;
    --pst-color-success: #4aa56f;
    --pst-color-attention: #f44336;
    --pst-color-danger: #f44336;

    --pst-color-background: #1F1D21;
    --pst-color-on-background: #2b292d;
    --pst-color-surface: #2e2c30;
    --pst-color-on-surface: #444246;

    --pst-color-text-base: #F4F3F6;
    --pst-color-text-muted: rgb(208, 204, 212)
}

.bordered-image-light img {
    border: 3px solid #3F8DB4;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.bordered-image-dark img {
    border: 3px solid #7AACBC;
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 16px;
}
